* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "lato", sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
    padding: 20px 200px 0px 200px;
    margin: auto;
    height: 80vh;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.header-left-container h1 {
    color: #272727;
    font-size: 70px;
    font-weight: 800;

}

.header-left-container p {
    color: #797979;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background: #E55473;
    border: 0;
    border-radius: 5px;
}

.btn-header {
    padding: 15px 35px;
}

.header-right-container img {
    height: 80vh;
    width: 350px;
    align-items: right;
}

section {
    padding: 0px 200px 0px 200px;
}

.featured-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.featured-container h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-container p {
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 65%;
    margin: auto;
}



.feautred-pink-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.pink-flower {
    width: 300px;
    height: 350px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 150px 150px 0px 0px;
    vertical-align: middle;
}

.pink-flower img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 70px;
    margin-left: 35px;
}

.customer-support {
    height: 220px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    margin: 120px 0px;
    align-items: center;
    text-align: center;

}

.customer-care img {
    max-width: 30%;
    max-height: 30%;
}

.customer-care p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
}

section.hot-deal-section{
    padding: 0px;
    width: 100%;
    height: 60vh;
    background-color: rgba(167, 33, 98, 0.15);
    
}



.social-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.social-container h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.social-container p {
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 65%;
    margin: auto;
}

.social-flower-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 100px;
    
}

.social-flower {
    width: 300px;
    height: 250px;
}

.social-flower img {
    max-width: 100%;
    max-height: 100%;
}

.latest-deal-container{
    background-image: url('../Assets/Rectangle9.png');
    height: 40vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

h2.social-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
    display: inline-block;
    
}

.social-par{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0px 40px 0px;
}

.subscribe{
    width: 100%;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
}
input[type='email']{
    padding:12px 0px 13px 10px;
    border: 0;
    border-radius: 5px;
    width: 50%;
    margin-right: 20px;
}


.btn-subscribe{
    padding: 10px 20px;
}
footer{
        background-color: #111010;
}

.footer-container{
    text-align: center;
    align-items: center;
    color: white;
}

.footer-container h2{
    font-size: 48px;
    font-weight: 800;
    padding: 120px 0px 0px 0px;
}
p.footer-par{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 400px;
}
.footer-container h2 span{
    color: #E55473;
}

p.footer-copyright{
color: rgba(255, 255, 255, 0.40);
font-size: 16px;
font-weight: 400;
padding-bottom: 100px;
}